
/* animations.css */
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.page-enter {
    transform: translateX(100%);
    opacity: 0;
  }
  
  .page-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  }
  
  .page-exit {
    transform: translateX(0);
    opacity: 1;
  }
  
  .page-exit-active {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  }
  